@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap');
@import "reset";
@import "grid";

@font-face{
  font-family: 'myfont';
  src: url("/img/EagleLake-Regular.ttf");
}

* {
  font-family: 'myfont' !important;
  font-family: 'Eagle Lake', cursive !important;
}

body {
  color: grey !important;
  background-image:url("/img/mandala_1.png");
  background-repeat:  no-repeat;
  background-size: cover;
  height: 100%;
  }

.NavBar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: black;
  color:  grey;

  a{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 20px;
    margin-left: 20px;
    color: grey;
    font-size: 20px;
  }
}

.HomePage {
  font-weight: bold;
  .input-group-prepend{
    justify-content: center;
    }
  .form-control{
    width:300px;
  }
  #app > div {
    font-size: 40px;
  }
  }

.AboutPage {

}

.AppPage {
  text-align: center;
}

.ShowPage{
  margin-top: 18%;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
  text-align: center;
  button {
    width: 160px;
  }
  form {
    input[type="submit"] {
      text-align: center;
      width: 160px;
      margin-left: auto;
      margin-right: auto;
    }
    .input-group-text{
      width: 60%;
      margin-left: auto;
      margin-right: auto;
    }
  .form-control{
    background-color:transparent;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border-color: gold;
  }
}

.NewPage{
  font-size:12px;
  color: grey;
  margin-top: 18%;
  input[type="submit"] {
  margin-left: 48%;
}
#title{
  background-color:transparent;
  border-color: gold;
  color: grey;
}
.form-control{
  background-color:transparent;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  border-color: gold;
}
}

.NotePage{
  margin-left: 20%;
  margin-bottom: 30px;
  a:hover{
    color: gold;
    font-weight: bold;
  }
}
