@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";
@import "grid";

*{
  background-image: url("../public/img/mandala_1.png") !important;
}

body {
  font-size: 16px;
  background-image: url("../public/img/mandala_1.png") !important;
}

.NavBar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #f0f0f0;
  background-color: black;


  a{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 20px;
    margin-left: 20px;
  }

}

.NotePage {
  font-size: 20px;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  background-image: url("../public/img/mandala_1.png") !important;

}

.HomePage {
  font-size: 20px;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
  background-image: url("../public/img/mandala_1.png") !important;


}
}

}
}

.AboutPage {

}

.ContactPage{

}

.AppPage {
  text-align: center;
  background-image: url("../public/img/mandala_1.png") !important;

}

.ShowPage{
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
  background-image: url("../public/img/mandala_1.png") !important;
  button {
    width: 200px;

  }
  form {
    input[type="submit"] {
      text-align: center;

      width: 200px;
    }
  }

.NewPage{
  text-align: center;
  font-size:24px;
margin-left: 20px;
margin-top: 5px;
margin-right: 20px;
color: grey;
}

}
